.body{

}

/*Reset*/
*{
    list-style-type: none;
    padding: 0 0;
    margin: 0 0;
}
a{
    color:#000000;
    text-decoration: none;
}
ul{
    padding: 0 0;
    margin: 0 0;
}
/*EndReset*/

/*filters-start*/
.filters{
    margin: 10px 0;
    font-size: 18px;
}
.filters_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.filters_list li:first-child{
    margin: 0;
}
.filters_list li{
    margin-left: 5px;
}
/*filters-end*/


/*Media*/
@media only screen and (min-width: 851px){
    .body{
        display: grid;
        grid-template-columns: 9vw 1fr 9vw;
        grid-template-rows: 100px 1fr 400px;
        grid-gap: 10px;
    }
    .main{
        grid-column: 2;
        grid-row: 2/3;
    }

    /*gallery-start*/
    .gallery{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .gallery_item{
        height: 40vw;
        max-height: 525px;
        min-height: 400px;
        width: 30vw;
        max-width: 400px;
        min-width: 300px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 60% 40%;
        margin: 10px;
        background-color: #eeeeee;
        border-bottom: 1px solid black;
    }
    .gallery_item_images{
        border-bottom: 1px solid black;
    }
    .gallery_item_image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .gallery_item_info{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(1fr,4);
        justify-items: center;
        align-items: center;
    }
    .gallery_item_link{
        padding: 5px;
        background-color: #929292;
        color:white;
    }
    .gallery_item_link:hover{
        background-color: black;
        color:white;
    }
    /*gallery-end*/


}

/*Mobile*/
@media only screen and (max-width: 850px){


    .body{
        display: grid;
        grid-template-columns: 0 1fr 0;
        grid-template-rows: 70px 1fr 400px;
        grid-gap: 10px;
    }
    .main{
        grid-column: 2;
        grid-row: 2/3;
    }

    /*gallery-start*/
    .gallery{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .gallery_item{
        height: 40vw;
        max-height: 525px;
        min-height: 350px;
        width: 30vw;
        max-width: 400px;
        min-width: 250px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 60% 40%;
        margin: 10px;
        background-color: #eeeeee;
        border-bottom: 1px solid black;
    }
    .gallery_item_images{
        border-bottom: 1px solid black;
    }
    .gallery_item_image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .gallery_item_info{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(1fr,4);
        justify-items: center;
        align-items: center;
    }
    .gallery_item_link{
        padding: 5px;
        background-color: #929292;
        color:white;
    }
    .gallery_item_link:hover{
        background-color: black;
        color:white;
    }
    /*gallery-end*/

}

@media only screen and (max-width: 566px){

}
@media only screen and (max-width: 489px){

}
@media only screen and (max-width: 400px){

}
@media only screen and (max-width: 339px){

}
@media only screen and (max-width: 299px){

}


@media only screen and (min-width: 1000px){

}

/*EndMedia*/
