.body{

}

.location{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.location iframe{
    width: 100%;
    max-width: 1300px;
    max-height: 400px;
}
.location_map{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.location_images{

}


/*Reset*/
*{
    list-style-type: none;
    padding: 0 0;
    margin: 0 0;
}
a{
    color:#000000;
    text-decoration: none;
}
ul{
    padding: 0 0;
    margin: 0 0;
}
/*EndReset*/


/*Media*/
@media only screen and (min-width: 851px){

    .body{
        display: grid;
        grid-template-columns: 9vw 1fr 9vw;
        grid-template-rows: 100px 1fr 400px;
        grid-gap: 10px;
    }
    .main{
        grid-column: 2;
        grid-row: 2/3;
    }
}

/*Mobile*/
@media only screen and (max-width: 850px){


    .body{
        display: grid;
        grid-template-columns: 0 1fr 0;
        grid-template-rows: 70px 1fr 400px;
        grid-gap: 10px;
    }

    .main{
        grid-column: 2;
        grid-row: 2/3;
    }

}

@media only screen and (max-width: 566px){

}
@media only screen and (max-width: 489px){

}
@media only screen and (max-width: 400px){

}
@media only screen and (max-width: 339px){

}
@media only screen and (max-width: 299px){

}


@media only screen and (min-width: 1000px){

}

/*EndMedia*/
