@font-face {
	font-family: 'OpenSans-Regular';
    font-weight: normal;
    font-style: normal;
	src:url(../styles/fonts/OpenSans-Regular.ttf) format('truetype');
}
.body{
    font-family: 'OpenSans-Regular';
}
.lock{
    overflow: hidden;
}

/*pagination-start*/
.pagination{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}
.pagination .page-item{
	margin:3px;
	border:1px solid black;
	border-radius:4px;
	width:25px;
	height:25px;
	text-align:center;
}
.pagination .active{
	color:white;
	background-color:black;
}
.pagination .page-link{
	display:block;
	width:100%;
	height:100%;
}
/*pagination-end*/

/*Caption-justify-and-align-start*/
.main__caption{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15px 0;
}
/*Caption-justify-and-align-end*/

/*chat-start*/
.chat{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    background: #dddddd;
    display: none;
}
.chat__wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.chat__wrapper form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.chat__messages{
    height: 75vh;
    width: 90%;
    margin-top: 55px;
    overflow: auto;
    background: white;
}
.chat__messages p{
    margin: 5px 0;
    max-width: 45%;
    word-wrap:break-word
}
#ChatOpenBtn{
    margin: 10px 0;
    max-width: 300px;
    min-width: 200px;
    height: 30px;
    padding: 2px;
    border-radius: 0;
    border: 1px solid black;
}
#ChatOpenBtn:focus{
    outline: 0;
}
#ChatOpenBtn{
    background-color: white;
}
#ChatOpenBtn:hover{
    color:white;
    background-color: black;
}
#ChatCloseBtn{
    position: absolute;
    top:10px;
    right: 20px;
    height: 50px;
    width: 50px;
    background-image: url('../images/close.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.chat__wrapper form input{
    margin: 10px 0;
    max-width: 300px;
    min-width: 200px;
    height: 30px;
    padding: 2px;
    border-radius: 0;
    border: 1px solid black;
}
.chat__wrapper form input:focus{
    outline: 0;
}
.chat__wrapper form label{
    padding: 5px 10px;
    border-radius: 0;
    border: 1px solid black;
    background-color: white;
}
.chat__wrapper form label:hover{
    color:white;
    background-color: black;
}

.chats button{
    margin: 10px 0;
    max-width: 300px;
    min-width: 200px;
    height: 30px;
    padding: 2px;
    border-radius: 0;
    border: 1px solid black;
}
.chats button:focus{
    outline: 0;
}
.chats .btn{
    background-color: white;
}
.chats .btn:hover{
    color:white;
    background-color: black;
}

.chat button{
    margin: 10px 0;
    max-width: 300px;
    min-width: 200px;
    height: 30px;
    padding: 2px;
    border-radius: 0;
    border: 1px solid black;
}
.chat button:focus{
    outline: 0;
}
.chat .btn{
    background-color: white;
}
.chat .btn:hover{
    color:white;
    background-color: black;
}

.message-left{
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.message-right{
    margin-top: 10px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.message_image{
    width: 45%;
    height: 45%;
    max-width: 500px;
    max-height: 500px;
    min-height: 150px;
    min-width: 150px;
}
.message_image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/*chat-end*/

@media only screen and (min-width: 851px) {
    /*Text style-start*/
    h1 {
        font-size: 34px;
    }

    .navigate_link {
        font-size: 22px;
    }
    /*Text style-end*/

    .header{
        grid-column: 1/4;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    }
    /*header-start*/
    .navigate_mobile{
        display: none;
    }

    .navigate_pc{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .navigate_link-logo{
        width: 100px;
        height: 100px;
        background: url("../images/logo.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .navigate_link{
        padding: 0 10px;
    }
    .navigate_list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .navigate_list_item_link:first-child{
        margin-right: 20px;
    }
    /*header-end*/

    /*footer-start*/
    .footer{
        grid-column: 1/4;
        grid-row: 3/4;
        background-color: #eeeeee;
        width: 100%;
        display: grid;
        grid-template-rows: 85% 15%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    }
    .footer_info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }
    .contacts-info p{
        margin-top: 10px;
    }
    .social-info p{
        margin-top: 10px;
    }
    .footer_requisites{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*footer-end*/
}
@media only screen and (max-width: 850px) {

    /*Text style-start*/
    h1 {
        font-size: 28px;
    }

    .navigate_link {
        font-size: 28px;
    }
    /*Text style-end*/

    /*header-start*/
    .header{
        grid-row: 1;
        grid-column: 1/4;
        background: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    }
    .navigate_pc{
        display: none;
    }

    .navigate_mobile{
        display: grid;
        grid-template-columns: minmax(80px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr);
        height: 100%;
        width: 100%;
    }
    .navigate_link{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navigate_link-logo{
        background: url("../images/logo.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .navigate_list{
        z-index: 9999;
        position: fixed;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: #dddddd;
    }
    .navigate_link_close-img{
        position: absolute;
        top:20px;
        right: 20px;
        height: 50px;
        width: 50px;
        background-image: url('../images/close.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .navigate_list_open-img{
        background-image: url('../images/mobile-menu.png');
        background-position: center;
        background-size: 50px;
        background-repeat: no-repeat;
    }
    /*header-end*/

    /*footer-start*/
    .footer{
        grid-column: 1/4;
        grid-row: 3/4;
        background-color: #eeeeee;
        width: 100%;
        display: grid;
        grid-template-rows: 85% 15%;
        justify-items: center;
        align-items: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    }
    .footer_info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contacts-info{
        width: 100%;
    }
    .contacts-info p{
        margin-top: 10px;
    }
    .social-info{
        margin-top: 25px;
        width: 100%;
    }
    .social-info p{
        margin-top: 10px;
    }
    .footer_requisites{
        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*footer-end*/
}
@media only screen and (max-width: 489px){
    /*Text style-start*/
    h1{
        font-size: 24px;
    }
    .navigate_link{
        font-size: 24px;
    }

    /*Text style-end*/
}
@media only screen and (max-width: 400px){
    /*Text style-start*/
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 18px;
    }
    .navigate_link{
        font-size: 24px;
    }
    p{
        font-size: 14px;
    }
    /*Text style-end*/
}
